<div class="row">
   <div class="col-md-12">
			<hr>
			<a name="commitments">
				<h1>Commitments</h1>
			</a>

			<p>
			It is my ultimate goal for this course, and my teaching, to
			develop your academic skills, advance your learning
			of computer science concepts, and support the liberal arts in general. To do so
			will require commitments from <em>myself</em> and from you toward meeting this goal.
			</p>

		<h2>Active Participation</h2>
			<p>
			<em>I will be prepared and on time for class each day, ready to use class time
			to help you understand the course material. I will respectfully listen to,
			understand, and answer questions asked in class. </em>

			<p>
			You are expected to attend class and actively participate in discussions every day,
			answering questions, asking questions, presenting material, etc. Your
			participation will be respectful of your classmates, both of their
			opinions and of their current point in their educational journey, as we
			each approach the material with different backgrounds and contexts.
			</p>

		<h2>Constructive Feedback</h2>
			<p>
			<em>I will keep office hours and be available for outside appointments, and respond
			to emails within one business day (not including weekends).
			I will provide feedback on group presentations within one day. For exams, projects,
			and homeworks, I will provide graded feedback within two weeks.</em>
			</p>

			<p>
			You are encouraged to provide constructive comments for improving this
			course for furthering your learning throughout the semester.
			There will be an opportunity for
			<a href="https://www.hendrix.edu/Faculty_Handbook/2018-2019/Faculty_Duties_and_Responsibilities/Student_Development/E_1_e__Student_Feedback_on_Teaching_and_Courses/">anonymous course feedback</a>
			at the end of the term, in which I hope you all participate. Through your
			feedback I can improve this course and others for future students.
			</p>

		<h2>Academic Integrity</h2>
			<p>
			<em>I will abide by the above syllabus and grade your work fairly.</em>
			</p>

			<p>
			As stated in the <a href="http://www.hendrix.edu/studentlife/handbook.aspx?id=67121">Hendrix Academic
			Integrity Policy</a>, all students have agreed to adhere to the following principles:
			<ul>
			<li>All students have an equal right to their opinions and to receive constructive criticism.

			<li>Students should positively engage the course material and encourage their classmates to do the same.

			<li>No students should gain an unfair advantage or violate their peers' commitment to honest work and genuine effort. It follows that any work that a student submits for class will be that student's own work. The amount of cooperation undertaken with other students, the consistency and accuracy of work, and the test-taking procedure should adhere to those guidelines that the instructor provides.

			<li>Members of the Hendrix community value and uphold academic integrity because we recognize that scholarly pursuits are aimed at increasing the shared body of knowledge and that the full disclosure of sources is the most effective way to ensure accountability to both ourselves and our colleagues.
			</ul>

			More details of our departmental stance on integrity can be found in the
			<a href="http://ozark.hendrix.edu/~yorgey/ac-integrity-policy.html">Hendrix
			Computer Science Academic Integrity Policy</a>
			</p>

		<h2>Learning Accomodation</h2>
			<p><em>I will make this classroom an open and inclusive environment,
			accommodating many different learning styles and perspectives.</em>
			</p>

			<p>
			Any student
			seeking accommodation in relation to a recognized disability should inform me
			at the beginning of the course.
			It is the policy of Hendrix College to accommodate students with disabilities, pursuant
			to federal and state law.  Students should contact Julie Brown in the
			<a href="https://www.hendrix.edu/academicsuccess/">Office of Academic
			Success</a> (505.2954; brownj@hendrix.edu) to begin the accommodation process.
			</p>

		<h2>Physical and Mental Health</h2>
			<p>
			<em>I am willing to work with you individually when life goes off the rails.</em>
			</p>

			<p>
			Coursework and college in general can become stressful and overwhelming, and
			your wellness can be impacted when you least expect it. You should
			participate in self-care and preventative measures, and be willing to
			find support when you need it.
			</p>

			<ul>
			<li><a href="https://www.hendrix.edu/counseling/">The Office of Counseling Services</a>
			welcomes all students to see a counselor
			in a private and safe environment regardless of their reasons for making an
			appointment. Counseling services are available to all Hendrix students
			<b>at no cost</b>.</li>
			<li><a href="https://www.hendrix.edu/healthservices/">Student Health Services</a>
			provides <b>free healthcare</b> to Hendrix students. Services are provided by an
			Advanced Practice Registered Nurse (APRN) in collaboration with a local physician.
			</li>
			</ul>
			<p>
			The Offices of Counseling Services and Student Health Services are located in the white house
			behind the Mills Center for Social Sciences at
			<a href="https://www.google.com/maps/place/1541+Washington+Ave,+Conway,+AR+72032/">1541 Washington Avenue</a>.
			</p>
	</div>
	</div>
